# OS / editors
.DS_Store
.zed/
.vscode/
.idea/

# Python
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/.ipynb_checkpoints/

# Node
fe/node_modules/
fe/dist/

# Logs
*.log
