@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./styles/base.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-serif: 'Newsreader', serif;
  --font-sans: 'Work Sans', sans-serif;
  --font-label: 'Plus Jakarta Sans', sans-serif;

  --color-background: #fef9ed;
  --color-foreground: #1d1c15;

  --color-primary: #6e251d;
  --color-primary-foreground: #ffffff;
  --color-primary-container: #8c3b32;

  --color-secondary: #526345;
  --color-secondary-foreground: #ffffff;
  --color-secondary-container: #d2e6c0;

  --color-tertiary: #25424b;
  --color-tertiary-foreground: #ffffff;
  --color-tertiary-container: #3d5963;

  --color-surface: #fef9ed;
  --color-surface-container: #f2ede2;
  --color-surface-container-low: #f8f3e7;
  --color-surface-container-high: #ede8dc;
  --color-surface-container-highest: #e7e2d6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #fef9ed;

  --color-on-surface: #1d1c15;
  --color-on-surface-variant: #554240;

  --color-outline: #88726f;
  --color-outline-variant: #dbc1bd;

  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.625rem;
}
